.about-us {
    max-width: 48rem;
    margin: 0 auto;
    text-align: center;
  }
  
  .about-us__text {
    font-size: 1.125rem;
    margin-bottom: 2rem;
  }
  
  .about-us__text:last-child {
    margin-bottom: 0;
  }
  